/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2016, 1:55:30 PM
    Author     : abc
*/

.product-gallery {
    margin-top:20px;
}

.product-gallery a {
    position: relative;
}

.product-gallery .close {
    position: absolute;
    right: -7px;
    top: -9px;
    font-size: 15px;
    z-index: 10;
    color: #3c8dbc;
    opacity: 0.7;
}
.nav-active{
    color: #FFF !important;  
}

.box-header {
    margin-bottom:0;
}

.form-group {
    margin-bottom: 10px;
}

.form-group p {
    margin-bottom:0;    
}

.prod-block {
    height:350px;
}

.table.table-borderless>thead>tr>th, 
.table.table-borderless>tbody>tr>th, 
.table.table-borderless>tfoot>tr>th, 
.table.table-borderless>thead>tr>td, 
.table.table-borderless>tbody>tr>td, 
.table.table-borderless>tfoot>tr>td {
    border:none
}

.table h4,.table h3 {
    margin:0;
}