/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Jul, 2016, 5:31:16 PM
    Author     : Apeksha Lad
*/

#preloader {
    background-color: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loader {
    background-image: url("../../resources/assets/images/loader.gif");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    width: 150px;
    height: 150px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.prodalldetails{
    background-color: #ececec;
    padding:0px;
    margin:0px;
    border:1px solid #cccccc;
    cursor: pointer;
    height:280px;
}
.prod_img{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
}
.prod_img img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
}
.spacing{
    margin-bottom: 10px;
}
.tab-content{
    min-height: 500px;
}



/* Cart */


.table td.MyRight {
  text-align: center;
}

.table td.MyRight2 {
  text-align: right;
}


.table td.MyRight1 {
  text-align: center;
}

.table td.MyCenter {
  text-align: center;
}
.table-nonfluid {
   width: auto;
}

.table .my_item, .text {
  text-align: center;
  color:#973B7D;
  font-style:bold;
}

.table .my_item1 {
  text-align: center;
  color:#973B7D;
  font-style:bold;
}

.table .my_item3 {
  text-align: center;
  color:#973B7D;
  font-style:bold;
}

.My-Text {
  text-align: left;
  color:#1C94C4;
  font-style:bold;
}

.well{
color:#973B7D;
}

.Ring_Descr {
  color:#1C94C4;
}
.totalcartcont{
    background-color: #00c0ef;
    color: #fff;
    padding:0px;
    margin:0px;
    height: 50px;
}
#breadcrumb_det{
    margin-bottom: 10px;
}
.tagl-item.bbx.nosel.tagl-select.col-md-2{
    background-color: #00b3ee;
    color: #FFF;
    padding:10px;
}
.tagl-text.bbx{
    float: left;
}
.tagl-x.bbx {
    color: red;
    text-align: center;
    cursor: pointer;
}
